<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Shop</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <table>
        <caption>
          Inventario de la tienda
        </caption>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">category</th>
            <th scope="col">actual stock</th>
            <th scope="col">minimun stock</th>
          </tr>
        </thead>
        <tbody>
          <% inventory.map((product) => { %>
          <tr>
            <th scope="row"><%= product.id %></th>
            <th><%= product.title %></th>
            <td><%= product.price %></td>
            <td><%= product.category %></td>
            <td><%= product.actual_stock %></td>
            <td><%= product.minimun_stock %></td>
            <td>
              <a href="/update/<%= product.id %>">
                <button>update</button>
              </a>
            </td>
            <td>
              <a href="/delete/<%= product.id %>">
                <button>DELETE</button>
              </a>
            </td>
            <td>
              <a href="/supplier/<%= product.id_supplier %>">
                <button>SUPPLIER DATA</button>
              </a>
            </td>
            <td>
              <a href="/sell/<%= product.id %>">
                <button>NEW SALE</button>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="2">Average age</th>
            <td>33</td>
          </tr>
        </tfoot>
      </table>
      <table>
        <caption>
          SUPPLIERS
        </caption>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">contacto</th>
            <th scope="col">telefono</th>
            <th scope="col">direccion</th>
          </tr>
        </thead>
        <tbody>
          <% suppliers.map((supplier) => { %>
          <tr>
            <th scope="row"><%= supplier.id %></th>
            <th><%= supplier.name %></th>
            <td><%= supplier.contacto %></td>
            <td><%= supplier.telefono %></td>
            <td><%= supplier.direccion %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <table>
        <caption>
          SELL
        </caption>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">product-id</th>
            <th scope="col">quantity</th>
            <th scope="col">sale-date</th>
            <th scope="col">total-price</th>
          </tr>
        </thead>
        <tbody>
          <% sell.map((s) => { %>
          <tr>
            <th scope="row"><%= s.id %></th>
            <th><%= s.product_id %></th>
            <td><%= s.quantity %></td>
            <td><%= s.sale_date %></td>
            <td><%= s.total_price %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div>
        <button><a href="/add-new">new product</a></button>

        <button><a href="/sell">sell</a></button>

        <button><a href="/add-supplier">Add Supplier</a></button>
      </div>
    </main>
  </body>
</html>
