<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>supplier</title>
  </head>
  <body>
    <h2>Agregar stock a: <%= findedSupplier.id %></h2>
    <h2>Agregar stock a: <%= findedSupplier.name %></h2>
    <h2>Agregar stock a: <%= findedSupplier.contacto %></h2>
    <h2>Agregar stock a: <%= findedSupplier.telefono %></h2>
    <h2>Agregar stock a: <%= findedSupplier.direccion %></h2>

    <a href="/">
      <button>RETURN</button>
    </a>
  </body>
</html>
