<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>re stock</title>
  </head>
  <body>
    <form action="/update/<%= product.id %>" method="POST">
      <h1>MODIFICAR: <%= product.title %></h1>
      <label for="actual_stock">AGREGAR STOCK:</label>
      <input type="number" name="actual_stock" id="actual_stock" value="0" />

      <label for="title">change name:</label>
      <input type="text" name="title" id="title" value="<%= product.title %>" />

      <label for="price">change price:</label>
      <input
        type="number"
        name="price"
        id="price"
        value="<%= product.price %>"
      />

      <label for="minimun_stock">minimun stock:</label>
      <input
        type="number"
        name="minimun_stock"
        id="minimun_stock"
        value="<%= product.minimun_stock %>"
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
